/* Selects the correct background image for each page)*/

.intro{
  background: url("../images/intro.jpg") center center fixed no-repeat;
  background-size:cover;
}

.page1{
  background: url("../images/page1.jpg") center center fixed no-repeat;
  background-size:cover;
}

.page2{
  background: url("../images/page2.jpg") center center fixed no-repeat;
  background-size:cover;
}

.page3{
  background: url("../images/page3.jpg") center center fixed no-repeat;
  background-size:cover;
}

.page4{
  background: url("../images/page4.jpg") center center fixed no-repeat;
  background-size:cover;
}

.page5{
  background: url("../images/page5.jpg") center center fixed no-repeat;
  background-size:cover;
}

.page6 {
  background: url("../images/page6.jpg") center center fixed no-repeat;
  background-size:cover;
}

.page7 {
  background: url("../images/page7.jpg") center center fixed no-repeat;
  background-size:cover;
}

.page8 {
  background: url("../images/page8.jpg") center center fixed no-repeat;
  background-size:cover;
}

.page9 {
  background: url("../images/page9.jpg") center center fixed no-repeat;
  background-size:cover;
}

.page10 {
  background: url("../images/page10.jpg") center center fixed no-repeat;
  background-size:cover;
}

.page11{
  background: url("../images/page11.jpg") center center fixed no-repeat;
  background-size:cover;
}

/* This formats any text on the page, centering it within a background for legibility*/
.container {
  border-style:solid;
  border-width:10px;
  border-color: #262626;

  background-color: #262626;

  max-width: 50%;
  margin: auto;
  text-align: center;

  position:absolute;
  top:25%;
  left:25%;
}


h1 {
  font-family: 'Space Mono', serif;
  font-style: italic;
  font-size: 50px;
  font-weight:400;
  color: white;
  padding-left: 5px;
  padding-right:5px;
}

/* Paragraph formatting within "container" class*/
p {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 150%;

  font-family: 'Cutive Mono', monospace;
  font-size: 18px;
  font-weight: 400;

  color: white;
}

a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size:15px;
  color:#ccff00;
}

a:link {
  color: #ccff00;
}
a:visited {
  color: #808080;
}
a:hover {
  color: #ff00cc;
}
a:active {
  color: #cc00ff;
}
